body {
    background-image: url("E:\Teniente Alicornio\Twilight.png"); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la URL de tu imagen de fondo */
    background-size: cover; /* Ajustar la imagen para cubrir todo el cuerpo */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen */
}